<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendocss")
    @Styles.Render("~/Content/css")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/util")

    @Scripts.Render("~/Scripts/urls.js")
    @Scripts.Render("~/Scripts/general.js")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("مدیریت سیستم خرید آنلاین مجوز", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("مدل دستگاه ها", "Index", "DeviceModel", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("شرکت ها", "Index", "Company", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("محصولات", "Index", "Product", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("درخواست های خرید", "Index", "PurchaseOrder", new { area = "Admin" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    
    

    <div class="container body-content">
        
        @Html.Partial("~/Views/Shared/_Login.cshtml")
        @RenderBody()        
    </div>

    @Scripts.Render("~/Scripts/app.js")

    @RenderSection("scripts", required: false)
    <script>
    $(function () {
        ko.applyBindings(accountManagerApp, $(".login-form")[0]);
    });
    </script>




    

</body>
</html>
